.favorites {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .dropdown-container {
    position: relative;
    h1 {
      position: absolute;
      font-size: 16px;
      font-weight: bolder;
      width: 100px;
      top: 22px;
      left: 10px;
    }
    .dropdown-1 {
      position: absolute;
      right: 10px;
      top: 5px;
      opacity: 0.8;
      &:hover {
        z-index: 15;
      }
    }
  }
  .cards {
    margin-top: 50px;
    height: 430px;
    overflow: scroll;
  }
}
