$gradient-color: linear-gradient(-60deg, #192059 0%, #18464d 100%);
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');

@keyframes fadeInDown {
  0% {
    opacity: 1;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 100%, 0);
  }
}

.true {
  animation: fadeInDown 1.5s;
  width: $container-width;
  height: $tabs-height;
  display: flex;
  border-radius: 10px;
  background-image: $gradient-color;
  .tab {
    color: #fff;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: $container-width / 3;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'IBM Plex Sans KR', sans-serif !important;
    font-weight: 800;
    border: none;
    img {
      margin-bottom: 7px;
    }
    &:hover {
      color: #fff;
      background-color: rgba($color: #ffffff, $alpha: 0.1);
      cursor: pointer;
    }
  }
  .tab-0 {
    border-bottom-left-radius: 10px;
    img {
      margin: 4px 0 6px 0;
    }
    &:hover {
      border-top-left-radius: 10px;
    }
  }
  .tab-1 {
  }
  .tab-2 {
    border-bottom-right-radius: 10px;
    &:hover {
      border-top-right-radius: 10px;
    }
  }
}

.false {
  opacity: 0;
  animation: fadeInUp 1.5s;
  width: $container-width;
  height: $tabs-height;
  display: flex;
  border-radius: 10px;
  background-image: $gradient-color;
  .tab {
    color: #fff;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: $container-width / 3;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'IBM Plex Sans KR', sans-serif !important;
    font-weight: 800;
    border: none;
    img {
      margin-bottom: 7px;
    }
    &:hover {
      color: #fff;
      background-color: rgba($color: #ffffff, $alpha: 0.1);
      cursor: pointer;
    }
  }
  .tab-0 {
    border-bottom-left-radius: 10px;
    img {
      margin: 4px 0 6px 0;
    }
  }
  .tab-2 {
    border-bottom-right-radius: 10px;
  }
}

.none {
  opacity: 0;
}
.tab-0 {
  border-bottom-left-radius: 10px;
  img {
    margin: 4px 0 6px 0;
  }
}
.tab-2 {
  border-bottom-right-radius: 10px;
}
